---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import AboutUsSection from "../components/AboutUsSection.astro";
import ConductCode from "../components/ConductCode.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Banner />
    <AboutUsSection />
    <ConductCode />
    <Footer />
  </main>
</Layout>

<style></style>
