---
import { Image } from "astro:assets";
import logoGDGCbba from "../assets/images/logoGDGCbba.png";
---

<article>
  <section
    class="banner mt-12 flex aspect-[1408/874] w-full flex-col items-center justify-center gap-5 bg-cover bg-center bg-no-repeat md:gap-10 md:bg-cover md:p-0"
  >
    <Image
      class="mt-5 w-[220px] md:mt-0 md:w-[500px]"
      src={logoGDGCbba}
      alt="logo GDG"
    />
    <a
      href="https://forms.gle/xjZfxTNcumL2t9bP8"
      class="banner__button flex items-center justify-center px-3 py-2 uppercase"
      target="_blank"
      rel="noopener"
    >
      Inscríbete al DevFest 2023
    </a>
  </section>
</article>

<style>
  .banner {
    background-image: url("../assets/images/fondoHero.png");
    background-size: cover;
    aspect-ratio: 16/9;
  }

  .banner__button {
    background: #4285f4;
    color: white;
    font-size: 14px;
  }
</style>
