---
import { Image } from "astro:assets";
import logoGdg from "../assets/images/logo-gdg-cochabamba-horizontal.svg";
import logoInstagram from "../assets/images/logo-instagram.svg";
import logoFacebook from "../assets/images/logo-facebook.svg";
---

<nav class="fixed left-0 top-0 w-full py-2">
  <div
    class="container mx-auto flex items-center justify-around md:justify-between"
  >
    <a href="/" class="flex items-center">
      <Image
        class="w-[150px] md:mt-0 md:w-[220px]"
        src={logoGdg}
        alt="logo GDG Cochabamba"
      />
    </a>
    <ul class="flex items-center space-x-5">
      <li>
        <a
          href="https://www.facebook.com/GDGCochabamba"
          class="flex items-center space-x-1"
          target="_blank"
          rel="noopener"
        >
          <Image
            class="h-5 w-5 md:h-6 md:w-6"
            src={logoFacebook}
            alt="GDG Cochabamba en Facebook"
          />
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com/gdgcochabamba"
          class="flex items-center space-x-1"
          target="_blank"
          rel="noopener"
        >
          <Image
            class="h-5 w-5 md:h-6 md:w-6"
            src={logoInstagram}
            alt="GDG Cochabamba en Instagram"
          />
        </a>
      </li>
      <li>
        <a
          href="https://forms.gle/xjZfxTNcumL2t9bP8"
          class="nav__button flex items-center justify-center px-3 py-2 uppercase"
          target="_blank"
          rel="noopener"
        >
          DevFest 2023
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  nav {
    background: #f1f3f4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .nav__button {
      background: #4285f4;
      color: white;
      font-size: 13px;
    }
  }
</style>
