---
import { Image } from "astro:assets";
import emiLogo from "../assets/images/emi-logo.png";
---

<section class="py-20">
  <h2 class="text-center text-3xl font-medium leading-normal text-[black]">
    Sponsors
  </h2>
  <div class="mt-16 flex items-center justify-center">
    <Image src={emiLogo} alt="sponsors img" loading="lazy" />
  </div>
</section>
