---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="GDG DevFest Cochabamba es un evento para desarrolladores liderado por la comunidad Google Developers Group Cochabamba."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico?v=1.0.1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta
      name="description"
      content="GDG DevFest Cochabamba es un evento para desarrolladores liderado por la comunidad Google Developers Group Cochabamba."
    />
    <meta name="keywords" content="GDG, WTM, Cochabamba, DevFest" />
    <meta name="og:title" content="GDG DevFest Cochabamba" />
    <meta name="og:image" content="/logo-gdg.png" />
    <meta name="og:site_name" content="GDG DevFest Cochabamba" />
    <meta
      name="og:description"
      content="GDG DevFest Cochabamba es un evento para desarrolladores liderado por la comunidad Google Developers Group Cochabamba."
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Product Sans";
    src: url("../assets/fonts/ProductSans-Regular.ttf") format("truetype");
  }

  body {
    font-family: "Product Sans", sans-serif;
  }
</style>
